{:paths ["src"]
 :deps { org.clojure/clojure {:mvn/version "1.11.1"}
         cheshire/cheshire {:mvn/version "5.11.0"}
         com.twitter/finagle-http_2.13 {:mvn/version "24.2.0"} }
 :aliases { "run" {:main-opts ["-m" "bank.core"]} }}